<!DOCTYPE html>
<html>

<head>
  {{- partial "head.html" . -}}
  {{- block "head" . }} {{- end }}
  <title>
    {{- block "title" . }} {{- end }}
  </title>
</head>

<body class="light" onload="loading()">
  <!-- javascripts -->
  <!-- <script src="/js/jquery-3.6.0.min.js"></script> -->

  {{- partial "sections/header.html" . -}}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "sections/footer/index.html" . -}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  {{- partial "scripts.html" . -}}

  <!-- for search -->
  <section id="search-content" class="py-2">
    <div class="container" id="search-results"></div>
  </section>
</body>

</html>